{% extends 'html/base.html' %}

{% load static %}

{% block font %}
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'delivery.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="reservation__label">
            <label for="">Доставка</label>
            </div>
            <hr class="reservation__line">
            <div class="menu__block">
                <div class="block1"><a href="#">Закуски</a></div>
                <div class="block2"><a href="#">Основні страви</a></div>
                <div class="block3"><a href="#">Сири</a></div>
                <div class="block4"><a href="#">Десерти</a></div>
                <div class="block5"><a href="#">Напої</a></div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Меню <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
                </div>
            </div>
            <div class="dishes">
                <div class="row1">
                    {% for dish in dishes %}
                        <div class="dish1">
                            <span>
                                <img src="{% static dish.image_path  %}" alt="">
                                <p><strong>{{dish.title}}</strong></p>
                                <div class="description"><p>{{dish.description}}</p></div>
                                <div class="weight_price">
                                    <div class="weight"><p>{{dish.weight}} гр</p></div>
                                    <div class="price"><span><p>{{dish.price}} ₴</p></span></div>
                                </div>
                                <div class="counter">
                                    <div class="number"><span>1</span></div>
                                    <div class="plus"><span>+</span></div>
                                    <div class="minus"><span>-</span></div>
                                </div>
                            </span>                          
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div><div class="row1">
                        {% endif %}
                    {% endfor %}
                                        
                </div>
                    <button button type="submit" class="submit__button"><a href="{% url 'delivery_reg' %}">ОФОРМИТИ ЗАМОВЛЕННЯ</a></button>
            </div>
        </div>
    </div>
{% endblock %}