{% extends 'html/base.html' %}

{% block font %}
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
{% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'delivery_reg.css' %}">
{% endblock %}

{% block title %}
    Delivery Registration
{% endblock %}

{% block content %}
    <div class="content">
        <div class="header__image">
            <img src="images/reservation.png" alt="" style="width: 100%;">
        </div>
        <div class="container">
            <div class="reservation__label">
            <label for="">Доставка</label>
            </div>
            <hr class="reservation__line">
            <div class="form__container">
                <form action="{% url 'form_submit_reg' %}" method="POST">
                    {% csrf_token %}
                    <div class="form__group">
                        <div class="input-container">
                            <input type="text" id="name" name="full_name" placeholder="Повне ім'я">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="input-container">
                            <input type="text" id="phone" name="phone_number" placeholder="Номер телефону">
                            <i class="fas fa-phone"></i>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="input-container">
                            <input type="text" id="address" name="address" placeholder="Адреса">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="input-container" style="border: 1px solid black; height:40px; display: flex; align-items: center; font-size: 14px; padding-left:8px; border-radius:5px">
                            <p><strong>До сплати: {{price}}₴</strong></p>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="input-container">
                            <textarea id="comments" name="comments" rows="4" placeholder="Коментарі"></textarea>
                            <i class="fas fa-comments"></i>
                        </div>
                    </div>
                        <button type="submit" class="submit__button1"><a href="{% url 'delivery_review' %}">ПЕРЕГЛЯНУТИ ЗАМОВЛЕННЯ</a></button>
                        <button type="submit" class="submit__button2">ЗАМОВИТИ</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}