{% extends 'html/base.html' %}

{% block font %}
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
{% endblock %}

{% load static %}
{% load custom_filters %}

{% block css %}
    <link rel="stylesheet" href="{% static 'delivery_review.css' %}">
{% endblock %}

{% block title %}
    Delivery review
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="reservation__label">
                <label for="">Замовлення</label>
            </div>
            <hr class="reservation__line">
            <div class="dishes">
                <div class="row1">
                    {% for dish, quantity in dishes|zip_lists:quantities %} 
                        <div class="dish1">
                            <span>
                                <img src="{% static dish.image_path  %}" alt="">
                                <p><strong>{{ dish.title }}</strong></p>
                                <div class="description"><p>{{ dish.description }}</p></div>
                                <div class="weight_price">
                                    <div class="weight"><p>{{ dish.weight }} гр</p></div>
                                    <div class="price"><span><p>{{ dish.price }} ₴</p></span></div>
                                </div>
                                <div class="counter" data-dish-id="{{ dish.id }}">
                                    <div class="number">
                                        <p style="margin-right: 8px;">Кілкість:</p>
                                        <span>{{ quantity }}</span>
                                    </div>
                                </div>
                            </span>                          
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div><div class="row1">
                        {% endif %}
                    {% endfor %}
                </div>
                <button button type="submit" class="submit__button">
                    <a href="{% url 'delivery_reg' %}">ОФОРМИТИ ЗАМОВЛЕННЯ</a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
