{% extends 'html/base.html' %}

{% block font %}
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
{% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'delivery_review.css' %}">
{% endblock %}

{% block title %}
    Delivery review
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="reservation__label">
            <label for="">Замовлення</label>
            </div>
            <hr class="reservation__line">
            <div class="dishes">
                <div class="row1">
                    <div class="dish1">
                        <span>
                            <img src="{% static 'images/dish1.png' %}" alt="">                            <p class="title"><strong>Півень у вині</strong></p>
                            <div class="description"><p>Курка, тушкована в червоному вині з беконом, грибами і часником</p></div>
                            <div class="weight_price">
                                <div class="weight"><p>290 гр</p></div>
                                <div class="price"><span><p>160 ₴</p></span></div>
                            </div>
                            <div class="counter">
                                <div class="number"><span>1</span></div>
                                <div class="plus"><span>+</span></div>
                                <div class="minus"><span>-</span></div>
                            </div>
                        </span>
                    </div>
                    <div class="dish2">
                        <span>
                            <img src="{% static 'images/dish2.png' %}" alt="">                            <p><strong>Яловичина Бургіньйон</strong></p>
                            <div class="description"><p>Класична французька страва з яловичини, моркви, цибулі та бекону.</p></div>
                            <div class="weight_price">
                                <div class="weight"><p>290 гр</p></div>
                                <div class="price"><span><p>160 ₴</p></span></div>
                            </div>
                            <div class="counter">
                                <div class="number"><span>1</span></div>
                                <div class="plus"><span>+</span></div>
                                <div class="minus"><span>-</span></div>
                            </div>
                        </span>
                    </div>
                    <div class="dish3">
                        <span>
                            <img src="{% static 'images/dish3.png' %}" alt="">                            <p><strong>Рататуй</strong></p>
                            <div class="description"><p>Овочеве рагу з баклажанів, цукіні, болгарського перцю, помідорів, цибулі та зелені.</p></div>
                            <div class="weight_price">
                                <div class="weight"><p>290 гр</p></div>
                                <div class="price"><span><p>160 ₴</p></span></div>
                            </div>
                            <div class="counter">
                                <div class="number"><span>1</span></div>
                                <div class="plus"><span>+</span></div>
                                <div class="minus"><span>-</span></div>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row2">
                    <div class="dish1">
                        <span>
                            <img src="{% static 'images/dish4.png' %}" alt="">                            <p><strong>Касуле</strong></p>
                            <div class="description"><p>Рагу з квасолі, приготоване з білої квасолі, качиного конфі, ковбаси та свинячого живота.</p></div>
                            <div class="weight_price">
                                <div class="weight"><p>290 гр</p></div>
                                <div class="price"><span><p>160 ₴</p></span></div>
                            </div>
                            <div class="counter">
                                <div class="number"><span>1</span></div>
                                <div class="plus"><span>+</span></div>
                                <div class="minus"><span>-</span></div>
                            </div>
                        </span>
                    </div>
                    <div class="dish2">
                        <span>
                            <img src="{% static 'images/dish5.png' %}" alt="">                            <p><strong>Буйабес</strong></p>
                            <div class="description"><p>Рибне рагу, приготоване з різноманітної риби та морепродуктів, помідорів, цибулі, часнику та шафрану.</p></div>
                            <div class="weight_price">
                                <div class="weight"><p>290 гр</p></div>
                                <div class="price"><span><p>160 ₴</p></span></div>
                            </div>
                            <div class="counter">
                                <div class="number"><span>1</span></div>
                                <div class="plus"><span>+</span></div>
                                <div class="minus"><span>-</span></div>
                            </div>
                        </span>
                    </div>
                    <div class="dish3">
                        <span>
                            <img src="{% static 'images/dish6.png' %}" alt="">
                            <p><strong>Кіш Лотарингія</strong></p>
                            <div class="description"><p>Солоний пиріг із коржами, яйцями, вершками, беконом і сиром.</p></div>
                            <div class="weight_price">
                                <div class="weight"><p>290 гр</p></div>
                                <div class="price"><span><p>160 ₴</p></span></div>
                            </div>
                            <div class="counter">
                                <div class="number"><span>1</span></div>
                                <div class="plus"><span>+</span></div>
                                <div class="minus"><span>-</span></div>
                            </div>
                        </span>
                    </div>
                </div>
                <button type="submit" class="submit__button"><a href="#">ЗАМОВИТИ</a></button>
            </div>
        </div>
    </div>
{% endblock %}