{% extends 'html/base.html' %}

{% load static %}

{% block font %}
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'delivery.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="reservation__label">
            <label for="">Доставка</label>
            </div>
            <hr class="reservation__line">
            <div class="menu__block">
                <div class="block1"><a href="#">Закуски</a></div>
                <div class="block2"><a href="#">Основні страви</a></div>
                <div class="block3"><a href="#">Сири</a></div>
                <div class="block4"><a href="#">Десерти</a></div>
                <div class="block5"><a href="#">Напої</a></div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Меню <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
                </div>
            </div>
            <div class="dishes">
                <div class="row1">
                    {% for dish in dishes %}
                        <div class="dish1">
                            <span>
                                <img src="{% static dish.image_path  %}" alt="">
                                <p><strong>{{dish.title}}</strong></p>
                                <div class="description"><p>{{dish.description}}</p></div>
                                <div class="weight_price">
                                    <div class="weight"><p>{{dish.weight}} гр</p></div>
                                    <div class="price"><span><p>{{dish.price}} ₴</p></span></div>
                                </div>
                                <div class="counter" data-dish-id="{{ dish.id }}">
                                    <div class="number"><span>0</span></div>
                                    <div class="plus">
                                        <button type="button" style="background-color: transparent; color: white; border: none; padding: 0; cursor: pointer; font-size: 18px;" onclick="changeNumber(this, 'increase')">+</button>
                                    </div>
                                    <div class="minus">
                                        <button type="button" style="background-color: transparent; color: white; border: none; padding: 0; cursor: pointer; font-size: 18px;" onclick="changeNumber(this, 'decrease')">-</button>
                                    </div>
                                </div>
                            </span>                          
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div><div class="row1">
                        {% endif %}
                    {% endfor %}
                </div>
                    <button button type="submit" class="submit__button" onclick="redirectToDeliveryReg()">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
            </div>
        </div>
    </div>
    <script>
        
            function getCookie(name) {
                const cookieValue = document.cookie.split(';')
                    .map(cookie => cookie.trim())
                    .find(cookie => cookie.startsWith(name + '='));
                    
                if (cookieValue) {
                    return cookieValue.split('=')[1];
                }
                
                return null;
            }

            function changeNumber(button, action) {
                    const counter = button.parentNode.parentNode.querySelector('.number span');
                    let count = parseInt(counter.textContent);
                    
                    if (action === 'increase') {
                        count += 1;
                    } else if (action === 'decrease') {
                        if (count > 0) {
                        count -= 1;
                        }
                    }          
                    counter.textContent = count;

                    // Send the updated dish quantity to the Django view
                    const dishId = button.parentNode.parentNode.getAttribute('data-dish-id');
                    updateDishQuantity(dishId, count);
                }

                function updateDishQuantity(dishId, quantity) {
                    const url = '/update_dish_quantity/';

                    // Create an AJAX request
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', url, true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

                    // Define the data to send
                    const data = JSON.stringify({
                        'dish_id': dishId,
                        'quantity': quantity
                    });

                    // Define the AJAX callback
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                // Success! 
                            } else {
                                console.error('Error:', xhr.status);
                            }
                        }
                    };

                    // Send the AJAX request
                    xhr.send(data);
            }


        function redirectToDeliveryReg() {
             window.location.href = "{% url 'delivery_reg' %}";
        }
    </script>
         
{% endblock %}