{% extends 'html/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="content">
        <div class="header__image">
            <img src="{% static 'images/main_page.png' %}" alt="" style="width: 100%;">
            <div class="inviting__block">
                <span>
                    <p class="welcoming">
                        ЛАСКАВО ПРОСИМО ДО Joséphine
                    </p>
                    <p class="description">
                        Найкращий досвід у смаках<br>французької кухні
                    </p>
                    <a href="{% url 'connection' %}">
                        <button class="my-button">Зв'язатися</button>
                    </a>
                </span>
            </div>
        </div>
        <div class="container">
            <div class="mobile__inviting__block">
                <span>
                    <p class="welcoming_mobile">
                        ЛАСКАВО ПРОСИМО ДО <strong>Joséphine</strong>
                    </p>
                    <p class="description_mobile">
                        Найкращий досвід у смаках<br>французької кухні
                    </p>
                    <a href="{% url 'connection' %}">
                        <button class="my-button_mobile">Зв'язатися</button>
                    </a>
                </span>
            </div>
            <div class="historic_note">
                <p>
                    Joséphine Bonaparte віддавала перевагу мистецтву, моді та культурі, та була відома своїм розумінням та підтримкою для творчих людей. Вона приваблювала до себе людей своїм шармом та інтелектом, і зі своїм чуттям гумору завжди створювала веселу атмосферу.
                </p>
            </div>
            <hr class="horizontal-line">
            <div class="options">
                <div class="option1">
                    <img src="{% static 'images/main1.png' %}" alt="">
                    <span class="desktop__span">
                        <h2 class="label">НАШЕ МЕНЮ НІКОЛИ НЕ ЗАКІНЧЕНЕ</h2>
                        <p>Кожна страва в  Joséphine має власну історію: від традиційних рецептів до сучасних оновлень, які розповідають історію нашої команди, наших кухарів і шеф-кухарів, які залишили слід на нашій кухні, а також нашого обслуговуючого персоналу та менеджерів, які є послами нашої гостинності.</p>            
                        <a href="{% url 'menu' %}">
                            <button class="button">Меню</button>
                        </a>             
                    </span>
                    <span class="mobile__span">
                        <h3 class="label">НАШЕ МЕНЮ НІКОЛИ НЕ ЗАКІНЧЕНЕ</h3>
                        <p>Кожна страва в  Joséphine має власну історію: від традиційних рецептів до сучасних оновлень.</p>            
                        <a href="">
                            <button class="button">Меню</button>
                        </a>             
                    </span>
                </div>
                <div class="option2">
                    <span>
                        <h2 class="label">ПРОВЕДІТЬ НАСТУПНИЙ ВЕЧІР</h2>
                        <p>Зробіть Ваш вечір особливим і забронюйте столик заздалегідь. Ми пропонуємо романтичні та затишні куточки для двох, або просторий зал для більшої компанії.</p>            
                        <a href="{% url 'reservation' %}">
                            <button class="button">Резервація</button>
                        </a>             
                    </span>
                    <img src="{% static 'images/main2.png' %}" alt="">
                </div>
                <div class="option2__mobile">
                    <img src="images/main2.png" alt="">
                    <span>
                        <h3 class="label">ПРОВЕДІТЬ НАСТУПНИЙ ВЕЧІР</h3>
                        <p>Зробіть Ваш вечір особливим і забронюйте столик заздалегідь. Ми пропонуємо романтичні та затишні куточки для двох, або просторий зал для більшої компанії.</p>            
                        <a href="{% url 'reservation' %}">
                            <button class="button">Резервація</button>
                        </a>             
                    </span>
                </div>
                <div class="option3">
                    <img src="{% static 'images/main3.png' %}" alt="">
                    <span class="desktop__span">
                        <h2 class="label">ДОСТАВКА</h2>
                        <p>Незалежно від того, чи шукаєте ви особливий обід, щоб винагородити свою команду за наполегливу роботу, чи справити враження на важливого клієнта ідеальною вечерею у вашому домі.</p>            
                        <a href="{% url 'delivery' %}">
                            <button class="button">Замовити зараз</button>
                        </a>             
                    </span>
                    <span class="mobile__span">
                        <h3 class="label">ДОСТАВКА</h3>
                        <p>Незалежно від того, чи шукаєте ви особливий обід, щоб винагородити свою команду за наполегливу роботу, чи справити враження на важливого клієнта ідеальною вечерею у вашому домі.</p>            
                        <a href="{% url 'delivery' %}">
                            <button class="button">Замовити зараз</button>
                        </a>             
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}