{% extends 'html/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'menu.css' %}">
{% endblock %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
    <div class="content">
        <div class="header__image">
            <img src="{% static 'images/menu_header.png' %}" alt="" style="width: 100%;">
        </div>
        <div class="container">
            <div class="location__label">
                <h1>Години & Локація</h1>
            </div>
            <hr class="line1">
            <div class="locations">
                <div class="location1">
                    <span>
                        <p>Київ</p>
                        <p>
                            Понеділок-П’ятниця 11:30-15:30<br>Субота-Неділя 12:00-16:00
                        </p>
                        <div class="location__buttons">
                            <a href="#"><button class="btn1">Резервація</button></a>
                            <a href="#"><button class="btn2">Локація</button></a>
                        </div>
                    </span>
                </div>
                <div class="location2">
                    <span>
                        <p>Львів</p>
                        <p>
                            Понеділок-П’ятниця 10:30-15:00<br>Субота-Неділя 11:00-16:00
                        </p>
                        <div class="location__buttons">
                            <a href="#"><button class="btn1">Резервація</button></a>
                            <a href="#"><button class="btn2">Локація</button></a>
                        </div>
                    </span>
                </div>
            </div>
            <div class="menu__label">
                <h1>Меню</h1>
            </div>
            <hr class="line2">
            <div class="menu__block">
                <div class="block block1{% if selected_category == 'appetizer' %} active{% endif %}">
                    <a href="{% url 'menu' 'appetizer' %}">Закуски</a>
                </div>
                <div class="block block2{% if selected_category == 'main' %} active{% endif %}">
                    <a href="{% url 'menu' 'main' %}">Основні страви</a>
                </div>
                <div class="block block3{% if selected_category == 'cheese' %} active{% endif %}">
                    <a href="{% url 'menu' 'cheese' %}">Сири</a>
                </div>
                <div class="block block4{% if selected_category == 'dessert' %} active{% endif %}">
                    <a href="{% url 'menu' 'dessert' %}">Десерти</a>
                </div>
                <div class="block block5{% if selected_category == 'beverages' %} active{% endif %}">
                    <a href="{% url 'menu' 'beverages' %}">Напої</a>
                </div>
            </div>            
            <div class="dropdown">
                <button class="dropbtn">Меню <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
                </div>
            </div>
            <div class="dishes">
                 <div class="row">
                {% for dish in dishes %}
                    <div class="dish">
                        <span>
                            <img src="{% static dish.image_path %}" alt="">
                            <p><strong>{{ dish.title }}</strong></p>
                            <div class="description"><p>{{ dish.description }}</p></div>
                            <div class="weight_price">
                                <div class="weight"><p>{{ dish.weight }} гр</p></div>
                                <div class="price"><span><p>{{ dish.price }} ₴</p></span></div>
                            </div>
                        </span>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
                 </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".menu-block").click(function() {
                $(".menu-block").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
    
{% endblock %}>