{% extends 'html/base.html' %}

{% load static %}

{% block font %}
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'reservation.css' %}">
{% endblock %}

{% block title %}
    Reservation
{% endblock %}

{% block content %}
    <div class="content">
        <div class="header__image">
            <img src="{% static 'images/reservation.png' %}" alt="" style="width: 100%;">
        </div>
        <div class="container">
            <div class="reservation__label">
            <label for="">Резервація</label>
            </div>
            <hr class="reservation__line">
            <div class="form__container">
                <form action="{% url 'form_submit' %}" method="POST">
                    {% csrf_token %}
                    <div class="form__group">
                        <div class="input-container">
                            <input type="text" id="name" name="visitor_name" placeholder="Повне ім'я">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="input-container">
                            <input type="text" id="phone" name="visitor_phone_number" placeholder="Номер телефону">
                            <i class="fas fa-phone"></i>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="input-container">
                            <input type="date" id="date" name="date">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="input-container">
                            <input type="time" id="time" name="time">
                            <i class="fas fa-clock"></i>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="input-container">
                            <textarea id="comments" name="comments" rows="4" placeholder="Коментарі"></textarea>
                            <i class="fas fa-comments"></i>
                        </div>
                    </div>
                    <button type="submit" class="submit__button"><a href="#">ЗАРЕЗЕРВУВАТИ СТОЛИК</a></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}